[2016-12-28 14:27] ilhanaydinli opened #1 "IOS integration"
Hi,
We use your repository in your application. No problems on Android. But when we compile the application on iOS, we get the following error.

[code]

[2016-12-28 23:44] ihadeed commented on #1
@ilhanaydinli this issue happens when you install the plugin via NPM, I will look into it and fix it ASAP.

For now this seems to be working fine:
[code]

[2016-12-29 08:45] ilhanaydinli commented on #1
@ihadeed I did what you said, but nothing changed. He gave the same error.
I found a solution like this.
`mobil\plugins\cordova-plugin-stripe\cordova-plugin-stripe\src\ios\Stripe.framework\Versions\A`
I carried the files in this directory to the following directory.
`mobil\plugins\cordova-plugin-stripe\cordova-plugin-stripe\src\ios\Stripe.framework`

I did the same thing on the iOS platform.
`mobi

[2016-12-29 09:08] ihadeed commented on #1
@ilhanaydinli did you remove the plugin first before running the command above?

And thanks for your feedback, I'll try what you mentioned and see if I can fix this.

[2016-12-29 09:24] ilhanaydinli commented on #1
@ihadeed When you remove it and load it again as you say, there is no problem. My work was based on the old installation method. If you remove the plugin and add it again as you say, there is no problem. Thank you very much for your help.

[2016-12-29 09:38] ihadeed commented on #1
@ilhanaydinli
Thanks for your feedback.

The issue happens after I run `npm publish` or `npm pack` (to publish the plugin to npm)... compressing the project is breaking the Stripe framework.

[2016-12-29 17:43] ilhanaydinli commented on #1
@ihadeed I thank you for your help.

[2016-12-29 17:43] #1 closed

[2017-01-10 21:56] ihadeed commented on #1
@ilhanaydinli FYI you can install the plugin from `npm` now without problems.

[2017-02-04 22:42] klirix opened #2 "Add "browser" platform support"
AFAIK there is stripe.js, that would help a great deal when writing electron apps \ debugging in browser.
I can create a pull request if needed?

[2017-02-05 10:37] ihadeed commented on #2
Sure a PR would be nice, thanks.

The browser support should only provide a wrapper for `stripe.js`. The actual `stripe.js` script file should be included directly from `https://js.stripe.com/v2/` as instructed in their docs: https://stripe.com/docs/stripe.js#including-stripejs

[2017-02-05 20:44] Tyler-Darby opened #3 "What's the benefit of using this as opposed to stripe.js?"
Is there any reason to use the native SDK as opposed to the JS SDK?

Additionally, is this stable enough to be used in production or should I stick to the JS SDK For now?

[2017-02-06 09:03] ihadeed commented on #3
Stripe blocked my app from using `stripe.js` because it wasn't executed on a HTTPS host. Which is why I created this plugin. It solved that problem for me since it uses Stripe's native SDKs.

The plugin is stable enough to be used in production. But it only provides functionality to create a credit card token. It doesn't implement other native SDK features such as Apple Pay or Android Wallet suppo

[2017-02-08 15:55] fxlemire opened #4 "Add Stripe client-side validate features"
https://stripe.com/docs/stripe.js#card-validation-helpers

* validateCardNumber
* validateExpiry
* validateCVC
* etc.

[2017-02-08 16:02] ihadeed commented on #4
Hey @fxlemire ,

I will add these methods for the next release.

[2017-02-08 16:04] fxlemire commented on #4
Awesome, thanks!

[2017-02-12 01:15] klirix commented on #2
@ #5

[2017-02-12 15:45] #3 closed

[2017-02-12 15:46] #2 closed

[2017-02-15 19:20] mdipierro opened #6 "not really an issue just a question ... but not sure where to ask"
First of all thanks for the plugin. Question is: is this plugin just a convenience or is it necessary? Can one just stripe.js to get the token?

[2017-02-15 20:22] ihadeed commented on #6
@mdipierro read my answer here: https://github.com/zyramedia/cordova-plugin-stripe/issues/3#issuecomment-277621322

[2017-02-15 20:26] mdipierro commented on #3
Perfect thanks again. That is all I need to know. :-)

[2017-02-15 20:41] ihadeed commented on #6
Update: I just tried to reproduce the issue I was having initially and I failed. Not sure how I got that error message in the first place.

But anyways, I personally would rather use their native SDK because it will ensure that my stripe functionality works a 100%. Imagine a scenario where the user launches your app while they're offline, the app will try to load Stripe.js from `https://js.stripe.

[2017-02-16 06:17] beetz12 opened #7 "Module 'Stripe' not found"
First I want to say thank you for all your hard work in creating this plugin. This is just what I need!
After I added Stripe to my project, I'm having some trouble building from Xcode. The error is: Module 'Stripe' not found (CordovaStripe.m). Any idea or advice would be much appreciated.

Thanks!

[2017-02-17 15:36] beetz12 commented on #7
Ok I resolved my problem. This plugin is not the issue.

It turns out I just need to reset my plugins:

[code]

[2017-02-17 15:36] #7 closed

[2017-02-26 05:17] Deadsoil opened #8 "no suitable constructor found for Stripe(no arguments)"
I just started getting this error randomly when trying to build my project. Any ideas? never had the issue before.

platforms/android/src/com/zyramedia/cordova/stripe/CordovaStripe.java:24: error: no suitable constructor found for Stripe(no arguments)
        stripeObject = new Stripe()

    constructor Stripe.Stripe(Context) is not applicable
      (actual and formal argument lists differ in leng

[2017-02-26 22:39] ihadeed commented on #8
You're getting this error because Stripe updated their SDK, I will need to modify the code here to work with their latest SDK.

For now, I committed a quick hot fix to get your app working: https://github.com/zyramedia/cordova-plugin-stripe/commit/bb2d248e64ccc5062f38c4f3786b89481976c828

Just uninstall the plugin and re-install it from the repository URL instead. I will keep this issue open and l

[2017-02-27 21:59] brianlittmann commented on #8
You can also just update the `.gradle` file in `platforms/android/cordova-plugin-stripe/` if you're wanting to get up and running locally.

[2017-02-27 22:05] Deadsoil commented on #8
That's what I ended up doing. Cheers guys

[2017-02-27 22:05] #8 closed

[2017-02-28 03:50] mwiley63 opened #9 "Android build error: no suitable constructor found for Stripe(no arguments)"
I installed this plugin today and ran into an error when building my cordova application for Android.

[code]

I notice this error occurs with the Java Stripe SDK v3.0 and 3.1 (both updated in the past 3 days).

As a workaround I can modify `platforms/android/cordova-plugin-stripe/appname-CordovaStripe.gradle` to specify version 2.1.0:
[code]
And the build passes.  However this is not ideal as thi

[2017-02-28 06:26] ihadeed commented on #9
Yes for now you need to specify the version. It's fixed in the repo but not in the latest npm version. (you can install the plugin directly from the repository instead of npm)

I will update the code to work with their 3.0.0 SDK in the next week or so, and that should fix the problem for sure.

[2017-03-02 03:29] #9 closed

[2017-03-02 04:29] ihadeed opened #10 "v1.3.0 To-do"
- [x] create bank account number token
  - [x] Android
  - [x] iOS
  - [x] Browser
- [x] validate credit card number/expiry/cvc
  - [x] Android
  - [x] iOS
  - [x] Browser
- [x] get card type/brand
  - [X] Android
  - [x] iOS
  - [X] Browser
- [ ] validate bank account number
  - [ ] Android
  - [ ] iOS
  - [ ] Browser
- [ ] validate bank account transit number
  - [ ] Android
  - [ ] iOS
  - [ ]

[2017-03-08 11:18] #6 closed

[2017-03-11 21:00] gujiman opened #11 "Exception calling native with command :: CordovaStripe :: setPublishableKey ::exception=TypeError: errorCallback is not a function"
hi,

i created a blank V2 app with the latest stripe plugin. i can get the android version to work. However i'm having problem with the browser version. I get the following error:

[code]

------------------------------------------------------------------------------
What i'm using:
    "@angular/common": "2.4.8",
    "@angular/compiler": "2.4.8",
    "@angular/compiler-cli": "2.4.8",
    "@angula

[2017-03-12 00:51] ihadeed commented on #11
@gujiman are you using the Ionic Native wrapper? or using the plugin directly?

[2017-03-12 13:41] gujiman commented on #11
Hi @ihadeed im using the ionic Native wrapper, with the sample code provided in the docs.

[2017-03-16 05:33] #10 closed

[2017-03-16 05:33] ihadeed commented on #10
The bank account number/transit number validation methods were not implemented since they are only supported on Stripe.js.

[2017-03-16 05:49] ihadeed commented on #4
The validation methods are now available in version `1.3.0` of this plugin.

[2017-03-16 05:49] #4 closed

[2017-03-16 06:22] #11 closed

[2017-03-16 06:23] ihadeed commented on #11
Fixed and now available in latest version `1.4.0`.

[2017-03-27 21:26] vivekFAGH opened #13 "Integration error"
I am trying to integrate this plugin in an Oracle MAF application and see errors like:

\src\com\zyramedia\cordova\stripe\CordovaStripe.java:12: error: package com.stripe.android does not exist
[05:22:05 PM] import com.stripe.android.TokenCallback;

[05:22:05 PM] \deploy\Android1\src\com\zyramedia\cordova\stripe\CordovaStripe.java:13: error: package com.stripe.android does not exist
[05:22:05 PM]

[2017-03-28 06:15] ihadeed commented on #13
What version of Cordova Android are you using? What operating system?

I'll try to reproduce this on my end.

Also, try to re-install the plugin and/or the platform.

[2017-03-28 14:50] vivekFAGH commented on #13
Cordova 4.x. Using this on oracle MAF on windows to build an android app. I am not suing android studio, hence the gradle file included in the plugin is not used.

[2017-03-28 15:22] ihadeed commented on #13
Everything should be installed automatically for you when you run the `cordova` commands. There is no need to use Android Studio.

My guess here is that your Cordova version outdated. The latest Cordova version is `6.5.0`, and the latest Cordova Android Platform version is `6.1.0` I think.

Run the following commands:
[code]

[2017-04-01 02:39] #13 closed

[2017-04-02 02:01] ihadeed opened #14 "TODO: V2"
- [ ] Change callbacks architecture for validation methods
  - Currently, the success callback is called if the data is valid, and the error callback is called if the data is invalid. It makes more sense to ONLY use the error callback if an actual error occurs. The success callback should return a boolean that indicates whether the data is valid.
- [ ] Integrate Apple Pay
- [ ] Integrate Android W

[2017-05-08 19:23] msolima opened #15 "Plugin not installed Error"
Am always getting [ 'plugin not installed' ] when trying to use this.

I did cordova plugin add cordova-plugin-stripe
then installed the npm version of the stripe plugin.

Then when I try to use cordova.plugins.stripe.createCardToken(card, onSuccess, onError);

am always getting onError with "Plugin not installed"

any idea what's happening?

[2017-05-21 14:42] anggaand123 opened #16 "Payment"
hello,
i want to ask about how to accepted payment witch credit card ??

[2017-05-23 09:13] ihadeed commented on #16
Sorry @anggaand123 I can't understand your question.

If you are asking what credit cards are accepted, Stripe accepts the following credit/debit cards: Visa, MasterCard, American Express. If your business is located in the U.S you can also accept JCP, Discover and Diners Club.

[2017-05-23 09:13] #16 closed

[2017-06-03 22:21] ihadeed opened #17 "CardHolder Name not going to Stripe backend when using IOS"
_From @wasifkarim on June 3, 2017 21:4_

I have tested in both Android and IOS. The cardholder name is present before the request is submitted to createToken. In IOS, the strip payments section does not show the customer name. When the payment is submitted using Android, the customer name appears.

_Copied from original issue: zyra/ionic-image-loader#59_

[2017-06-03 22:35] ihadeed commented on #17
Thanks for reporting this issue @wasifkarim

I will look into it and get back to you.

[2017-06-07 20:39] wasifkarim opened #18 "Setting Stripe Publishable Key dynamically"
I have an integration which requires multiple stripe accounts to be used. The publishable keys are stored in the database. When I am ready to generate the stripe token, I m calling the setPublishableKey with the appropriate key for that account. It seems that only the first publishable key that was set can be used to do further credit card processing to generate the token. Can this be enhanced to

[2017-06-07 21:03] ihadeed commented on #18
Just call setPublishableKey.. Every time you call that method, it changes the key for any subsequent API calls.

[2017-06-07 21:40] wasifkarim commented on #18
Ibby,

I appreciate your prompt response. In doing further testing, I realized
this is issue on IOS only. It works perfectly in Android. Is this something
you can look into? We are about to go live and this will stop us. I will
really appreciate your help in this matter. Thanks.

On Wed, Jun 7, 2017 at 4:03 PM, Ibby Hadeed <notifications@github.com>
wrote:

[2017-06-07 22:05] wasifkarim commented on #18
I have fixed the issue. in CordovaStripe.m, I commented out the check to see if client is nill before initializing the client. This way, it will initialize it everytime and get new publishable key everytime. I am sure there is a better way to fix it but this was quick and dirty for me.

[2017-06-13 23:17] DavidHoperz opened #20 "Stripe Live Mode Only validates Card Number?"
I've been able to use this plugin successfully using Stripe test mode (test key).

However, the issue that I have is that when i switch to the Stripe Live Key, this plugin acts strangely.

**It basically only validates the Card number and ignores the Expiry Number and CVC number.**

Example:

If I use a fake Card Number, the plugin returns an error message that says the card number is wrong.

Howe

[2017-06-27 22:59] miguelfoko opened #21 "Got the following issue "cordova_not_available""
Can somebody help me please?

I got the '**cordova_not_available**' issue when trying to use **createCardToken** method of stripe API.

I'm using the following tutorial **https://github.com/zyra/cordova-plugin-stripe**. My aim is to integrate Stripe in my Ionic Application. My IONIC Version is 3.3 and my cordova version is 6.2.3

Excuse me for my poor english

[2017-06-28 10:14] ihadeed commented on #21
Are you trying this using `ionic serve` command?

The plugin only works on Cordova platforms.

[2017-06-28 14:30] miguelfoko commented on #21
Hi ihadeed, Not sure to understand what you want to say, can you please more explain your suggestion?

[2017-06-29 03:30] ihadeed commented on #21
How are you testing the app? Are you testing it while running `ionic serve` command? Or are you running it on a device?

[2017-06-29 11:09] miguelfoko commented on #21
Hi @ihadeed. Thanks a lot for your answer, effectively I was running it using **ionic serve**, now that I tried to run on a device it works.

Thanks Thanks Thanks

[2017-06-29 11:10] #21 closed

[2017-07-03 02:26] ihadeed commented on #20
Are you experiencing this on all supported platforms (Android/iOS/Browser)? or just a specific one?

[2017-07-03 02:38] ihadeed commented on #15
Sorry for the late response.

I'm unable to reproduce this issue. The only time I think this error can occur, is if you are using the Ionic Native wrapper and trying to use the plugin via `ionic serve`.

[2017-07-03 19:07] antonmyrberg commented on #14
Is it possible to create 3d Secure payments using the plugin as is? Otherwise that'd be a great feature. Might be able to help implementing some parts of it if it doesn't already exist.

Thanks for a great plugin.

[2017-07-06 00:20] virtapoika opened #23 "ERROR: AuthenticationError is never thrown in the body ANDROID"
Hi, I've got the following error

`/platforms/android/src/com/zyramedia/cordova/stripe/CordovaStripe.java:59: error: exception AuthenticationException is never thrown in body of corresponding try statement
    } catch (AuthenticationException e) {
      ^
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
1 error

FAILURE: Build failed wit

[2017-07-06 04:19] ihadeed commented on #23
Thanks for reporting this.

I updated the SDK versions recently, looks like I missed a change. I will fix this soon.

In the meanwhile you can use older versions of this plugin.

[2017-07-06 06:45] #23 closed

[2017-07-06 06:47] ihadeed commented on #23
This is fixed now, run the following commands to ensure you have the latest version:
[code]

[2017-07-06 06:59] ihadeed commented on #20
The latest release of this plugin uses updated versions of Stripe's SDKs. Please try `cordova-plugin-stripe@1.5.2` and let me know if you're still experiencing this issue.

[2017-07-06 10:50] virtapoika commented on #23
Thanks! Awesome work!

[2017-07-08 12:46] mwiley63 opened #24 "Localizing error messages"
Is there any way to localize error messages using this plugin?

[2017-07-08 12:47] ihadeed commented on #24
No, but this is a good idea. I will look into it. I will check if the native plugin is capable of returning localized error messages.

[2017-07-08 12:53] #24 closed

[2017-07-08 12:53] ihadeed commented on #24
Looks like iOS is already configured to return localized error messages. I just pushed a commit to do the same on Android.

[2017-07-08 12:55] #18 closed

[2017-07-08 12:55] ihadeed commented on #18
Just pushed a commit to fix this. If a stripe client already exists, it will update the publishable key for that instance as well. No need to recreate the client every time.

Thanks for pointing this out!

[2017-07-08 12:58] ihadeed commented on #24
Just published `cordova-plugin-stripe@1.5.3`. Please update to the latest version and let me know if you're still experiencing issues.

[2017-07-08 12:58] #15 closed

[2017-07-08 12:59] ihadeed commented on #17
@wasifkarim this issue should be resolve in the latest version. Please update the plugin and let me know if you're still experiencing issues.

[2017-07-08 12:59] #17 closed

[2017-07-08 13:20] mwiley63 commented on #24
Wow, thank you!  I will give it a try.

[2017-07-08 14:56] mwiley63 opened #25 "Android Build Error with stripe-android >= 3.1.0"
I am receiving the following build error with any stripe-android version >= 3.1.0 in my project.properties.

Here is the error:
[code]

My ionic info:
[code]

My project.properties:
[code]

I have all SDKs and tools installed for versions 22-26.  Is there something I am missing?

[2017-07-08 15:00] ihadeed commented on #25
The latest version of this plugin uses `stripe-android:4.1.2`. Their package doesn't have any Android Support library dependencies, so I'm not sure if this can cause any problems.

Try to remove platforms and plugins directories and re-install them.

[2017-07-08 15:09] mwiley63 commented on #25
I think they do use a support library, at least it looks like it according to this post:  https://github.com/stripe/stripe-android/pull/82

I updated cordova and cordova-android.  Removed the android platform and re-added it.

Here is a list of my plugins:
[code]
And the build fails.  If I do a `ionic cordova plugin rm cordova-plugin-stripe` and `ionic cordova build android` my application builds

[2017-07-08 15:37] mwiley63 commented on #24
iOS is working!  I localized using the following files from stripe-ios:  https://github.com/stripe/stripe-ios/tree/master/Stripe/Resources/Localizations

[2017-07-08 15:57] mwiley63 commented on #24
I was unable to get Android to localize, it looks like the Android Stripe SDK is missing localizations:  https://github.com/stripe/stripe-android/issues/283

[2017-07-08 16:01] mwiley63 opened #26 "Feature request: return full error object instead of getLocalizedMessage()"
I am unable to localize Android, since the Stripe Android SDK doesn't support localizations via strings.xml:  https://github.com/stripe/stripe-android/issues/283

Thus, would it be possible to return the full error object instead of just getLocalizedMessage()?  I.e., I want to string match on the error code rather than the message, as defined by the error codes here:  https://stripe.com/docs/api#e

[2017-07-08 16:05] ihadeed commented on #25
I didn't have any trouble building two different apps. One of them is ionic-native-playground which uses lots of plugins.

I found a few related SO posts [on Google](https://www.google.ca/search?q=Error+retrieving+parent+for+item%3A+No+resource+found+that+matches+the+given+name+%27android%3ATextAppearance.Material.Widget.Button.Borderless.Colored%27&rlz=1C1CHBF_enCA746CA746&oq=Error+retrieving+par

[2017-07-08 16:18] ihadeed commented on #24
Thanks for the feedback @mwiley63

Let me know if there's any further action I need to take on my end.

[2017-07-08 16:19] ihadeed commented on #26
I will add this feature sometime soon. Thanks for looking into it.

[2017-07-08 19:22] mwiley63 commented on #25
Yes, it's not something with this plugin, but rather the combination of plugins I am using.

Thanks for the pointers!

[2017-07-08 19:22] #25 closed

[2017-07-09 15:18] DavidHoperz commented on #20
The whole plugin stopped working on Android for some strange reason and I have no idea why!

it was working fine and everything was building perfectly fine as well but from a few days ago, everything stopped working and I started getting BUILD FAILED error for (Android Only) in the phonegap build.

I looked in the log file to see what the error is and it was to do with this Plugin so I removed it

[2017-07-09 15:32] ihadeed commented on #20
@DavidHoperz is your issue like #25 ?

[2017-07-18 22:06] slodolce opened #27 "Card Reader"
Hi guys,

Curious if this plugin supports any of these card readers?

https://stripe.com/works-with/categories/card-readers-pos

Thanks!

[2017-07-19 01:45] ihadeed commented on #27
This plugin wraps the following two SDKs:

https://stripe.com/docs/mobile/android (or full SDK [here](https://github.com/stripe/stripe-android))
https://stripe.com/docs/mobile/ios (or full SDK [here](https://github.com/stripe/stripe-ios))

The features you requested aren't included in their mobile SDKs, so I can't add them here. I will have to create new plugins to wrap the other SDKs mentioned on

[2017-07-19 01:45] #27 closed

[2017-07-20 04:39] asangadev opened #28 "TypeError: undefined is not an object"
Hi there,

I'm getting below error with PhoneGap serve. Was testing this on an iPhone. But the plugin works perfectly fine on MAC - chrome. Please advise.

Error: TypeError: undefined is not an object (evaluating 'cordova.plugins.stripe.setPublishableKey')

[2017-07-21 03:35] ihadeed commented on #28
Are you waiting for `deviceready` to fire before executing this method?

[2017-07-24 01:00] asangadev commented on #28
Hi there, Thanks for the reply. Yes, I'm calling the function after deviceready event. This works perfectly fine on my localhost (on Chrome with iPhone inspect). But not with the Phonegap app preview on iPhone 6+.

Then I have setup a brand new (clean project) test app using "phonegate create appName" and installed your plugin. Same results again. No luck inside the phonegap preview on real iPhone

[2017-07-27 12:17] ceskomira90 opened #29 "Issue with 1.5.3 version. processDebugManifest error when i add plugin and build the project"
FAILURE: Build failed with an exception.

        * What went wrong:
        Execution failed for task ':processDebugManifest'.

        [com.android.support:appcompat-v7:25.3.1] AndroidManifest.xml:27:9-31
        is also present at [com.android.support:support-v4:26.0.0-alpha1] AndroidManifest.xml:27:9-38
        value=(26.0.0-alpha1).
        Suggestion: add 'tools:replace="android:value"' to <

[2017-08-20 15:41] cwoolum commented on #14
Is there anything you are waiting on to do this or any sort of timeline? I would be interested in contributing

[2017-08-23 17:49] kodeine opened #31 "templating"
So this plugin is just the barebones, can we use stripes default templates for accepting a card? or we should create our own template in ionic.

[2017-08-24 09:43] alexghr opened #32 "Breaking change between v1.4 and v1.5"
Hi,

We've encountered a problem after upgrading cordova-plugin-stripe from v1.4.0 to v1.5.3. The `createCardToken` method no longer returns a string as it did in v1.4.0 but a full object. This is a breaking API change and should not exist in a minor version bump. Can you please update the readme with the new type information?

Thanks

[2017-08-24 18:31] AwesomeJ0sh opened #33 "Making a payment with this plugin"
Hello,
I am building and Ionic 3 app. For web, android and iOS.

I would like users to be able to make payments with this plugins.

Is it possible?
Using the basic usage code I have been able to add a test credit card to POST /v1/tokens.
But I want to charge it.

docs say
"Once you have the token, you can now send it to your backend so you can charge the customer later on."

What function "sends i

[2017-08-24 19:21] desmondcain commented on #32
Specifying a type of `any` worked for me since it no longer returns a string.
[code]

[2017-08-26 21:39] ihadeed commented on #33
You should have a backend that processes payments. Your frontend (app) should collect credit card information, then use the plugin to send this information to Stripe. The plugin will then provide you with a token. This token can be sent to your backend, and then used to charge the customer or subscribing them to some membership.

This plugin only wraps the mobile SDKs provided by Stripe. It's not

[2017-08-26 21:39] #33 closed

[2017-08-26 22:29] AwesomeJ0sh commented on #33
Thanks for your information.

What would be the best/safest way to process a payment after I have used this plugin to get/send a token? Through the stripe dashboard?

what are the dangers of including the secret key in the app and processing the payment without a back end?

[2017-08-26 22:39] ihadeed commented on #33
I usually have a Node.JS based backend (Express.JS) that handles data, authentication, and payments. I use Stripe's Node.js library to process the stripe payments. The usual process goes like this:
- Collect credit card payments in the front end, and send it to Stripe using their SDK (JavaScript, Android, iOS ...etc)
- If the credit card info is valid, I receive a token from Stripe. This token is

[2017-08-27 17:54] AwesomeJ0sh commented on #33
I understand. I am using firebase as my back end (database and auth). Would any of these integrations be secure enough?

A: Keep the secret key on the database and only pass it to the app when necessary to make a payment?

B: Storing the tokens on a database to then make payments with a local server once a day.

C: Using the [Firebase Functions](https://firebase.google.com/docs/functions/use-cases

[2017-08-27 18:07] ihadeed commented on #33
Sending the key to the app is also unsafe.

Processing payments once a day isn't a good user experience. But that
depends on your customers. Also, I think tokens expire...

I suggest using Amazon Lambda. Also check "Serverless". You can make server
code that runs only when you wanna charge a customer. This will cost you
only a few cents. You can add that cost to the payment fees too.

May I ask wh

[2017-08-27 18:43] AwesomeJ0sh commented on #33
Thank you, I will look into Amazon Lambda. seems to be a fairly simple way to do it and will integrate with firebase.
Are there any disadvantages to using firebase functions over Amazon Lambda? besides price?

I am getting users to pay registration fees for events they plan to attend in the future. Sort of like buying tickets.

[2017-08-27 20:17] ihadeed commented on #33
Not so sure. I don't use firebase.

Regards,
Ibby Hadeed

Sent from my phone

On Aug 27, 2017 2:43 PM, "AwesomeJ0sh" <notifications@github.com> wrote:

[2017-08-28 01:41] AwesomeJ0sh commented on #33
Thanks for your info. Great plugin!

[2017-08-29 21:17] brianlittmann commented on #32
Yea, this was a bummer to hit. In the meantime, my workaround is thus:
[code]

[2017-09-02 01:41] ihadeed commented on #31
I might add Stripe's default templates in the near future, depending on how complex they are.

For now, you should create your own template.

[2017-09-11 14:37] ihadeed commented on #32
Sorry for the breaking change. You're right, it should've been a major release.

I updated the typings here, I'll update Ionic Native soon.

[2017-09-11 14:38] ihadeed commented on #14
@cwoolum just waiting to have some time to work on this.

I see that Stripe published Stripe.js v3, and some updates to the native SDKs. I'll probably start working on a big update soon.

[2017-10-02 11:28] Keko94 opened #37 "dyld: Symbol not found: _kABPersonAddressCityKey"
Hello,

I have an error when I try to compile for iOS 9 on the current latest Xcode version:
"dyld: Symbol not found: _kABPersonAddressCityKey"
I searched and I found this topic: https://stackoverflow.com/questions/39485826/dyld-symbol-not-found-kabpersonaddresscitykey-xcode-8-issue
I resolved my error following the answer: "Add PassKit.framework to your Link Binary With Libraries in your Build Ph

[2017-10-26 09:07] quentinbc opened #38 "Can we use 3DS ?"
Hello,

Your plugin is wonderfull but unfortunatelly we have many fraudulent payments.
So we would use the 3D Secure but to do this i think we need a "source" connector :
https://stripe.com/docs/sources/three-d-secure
Is it possible to add it to use 3DS ?

Thank's for your great job !

[2017-10-28 00:10] ihadeed commented on #38
You will be able to in the next version of this plugin. The plugin is outdated at the moment and it uses older SDK. I will keep this issue open and notify you when the new SDK is implemented. Thank you for your patience.

[2017-11-21 15:18] erperejildo opened #39 "More info"
When you say "Once you have the token, you can now send it to your backend so you can charge the customer later on" what do you mean?

I'm trying to find info here: https://stripe.com/docs/charges but can't see any javascript reference

[2017-11-21 19:49] ihadeed commented on #39
This plugin communicates with Stripe's servers via their mobile SDKs. It's only job is to send credit card information safely to Stripe, and retrieve a token that represents that credit card. Once you have the token, you can instruct your back end server to do things with it, such as: (1) charge the credit card, or (2) attach it to a customer's file.

In the page you sent me, you will notice that

[2017-11-21 20:55] erperejildo commented on #39
Ok, so something like this maybe?
`$http.post('https://api.stripe.com/v1/charges', token)`

[2017-11-22 04:57] javasol1 opened #40 "Really need help"
First of all apology for being naive if i am missing something simple. I recently started with cordova so not sure if i am missing anything basic. I followed the exact steps as you mentioned and i am getting this error

Uncaught TypeError: Cannot read property 'stripe' of undefined

It seems like stripe object is coming as undefined. i added the plug-in successfully. Would really appreciate your h

[2017-11-22 09:58] ihadeed commented on #39
Follow the examples here: https://stripe.com/docs/charges

You don't want to ask stripe to charge a card via your client side app, because then you will need to include your secret token in the code. You need a backend.

[2017-11-22 09:58] #39 closed

[2017-11-22 10:26] erperejildo commented on #39
Don't understand what do you mean when you say that "I need a backend".

My app is just a frontend app with no backend at all. Can I send this toke (which I get properly) to any Stripe's API?

[2017-11-22 12:13] ihadeed commented on #39
You can but it's not secure. You can't charge a customer without your
secret key. And the secret key should not be included in your frontend
application. This is all mentioned in stripe's API.

As far as I know there is no way to charge via stripe securely without some
sort of backend. You can setup a "Serverless" server on AWS lambda for free
or almost free.

Regards,
Ibby Hadeed

Sent from my ph

[2017-11-22 13:44] erperejildo commented on #39
Ok fair enough. In that case I'm afraid I can't use it unless I have Firebase

[2017-11-22 15:59] javasol1 commented on #40
I figured out the issue. You have to wait for the proxy added before you make the 1st call

[2017-11-22 15:59] #40 closed

[2017-11-22 21:55] ihadeed commented on #39
AFAIK Firebase is a database-as-a-service, so that wouldn't help either. You need to setup a server manually, use [Serverless](https://serverless.com/), or use an PaaS like [Heroku](https://www.heroku.com/).

[2017-11-23 15:53] mewild opened #41 "createCardToken return token doesn't contain fingerprint"
The stripe API says that a token has a value called fingerprint that can be used to uniquely identify card numbers.

Obviously for security reasons I do not transfer full card numbers over the network ever. Instead I transfer the fingerprint of each card.

When I create a card token I would like to compare fingerprints to make sure Im not adding the same card again and again.

When i try to get th

[2017-11-23 16:03] mewild commented on #41
Just seen the typings file does indeed contain the fingerprint value.

Why does my ionic flag up that it doesn't exist?

[2017-11-23 18:42] ihadeed commented on #41
Hey there,

I don't recall adding a fingerprint parameter for the create token methods. I'll be happy to add that though.

Could you please direct me to the stripe doc page that demonstrate it's usage and/or explain its functionality?

[2017-11-24 10:13] mewild commented on #41
Reading more while trying to find some documentation to send to you I found that this is expected behaviour.

Stripe have implemented it so that you can only obtain a fingerprint when creating a token with a secret key. Therefore I need to create the token on the server side if I want to have a fingerprint.

Closing as everything seems to be in order regarding this functionality.

Thanks.

[2017-11-24 10:13] #41 closed

[2017-11-27 09:18] eugenemaning opened #42 "="

[2017-12-04 06:27] eugenemaning opened #43 "How do I add payment source"
I get this error when trying to subscribe to a plan.

Error: This customer has no attached payment source

[2017-12-05 10:51] ihadeed commented on #43
You need to:
1. Get a token for credit card / bank account
2. Send it to your back end
3. Send it to Stripe and attach it to a customer's profiel
4. Charge them / subscribe.. etc

[2017-12-05 10:51] #43 closed

[2017-12-06 05:19] eugenemaning commented on #43
Thank you very much Ihadeed

[2017-12-16 12:11] danielcrk commented on #31
@ihadeed A native payment gui (with some basic customisation) would be amazing :)

[2018-01-05 09:19] ArtinRezaee opened #44 "Cannot use plugin with browser"
I have installed the plugin as instructed in the document. When trying to test the functionality via ionic serve, I get this message:

tried calling Stripe.setPublishableKey, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator

Is there any other step that I have to take in order to get the plugin working for the browser?

Thank you

[2018-01-05 09:30] #44 closed

[2018-01-05 09:31] ArtinRezaee commented on #44
I realized that I have to test this by adding a cordova browser platform.

[2018-01-16 01:10] RedEars commented on #14
Do you have some expected date for version 2?

[2018-01-16 01:12] ihadeed commented on #14
@RedEars No.

[2018-01-25 08:54] ihadeed commented on #14
Started working on it. Would appreciate it if you guys can help test the iOS side once I have it ready.

[2018-01-25 15:16] RedEars commented on #14
@ihadeed  Sounds great! I will test when you have it ready :)

[2018-02-01 12:12] sitexw commented on #14
I can not wait for version 2 to come out ! I need it badly for Apple Pay and Google Pay.
If I can help for anything...

[2018-02-17 01:52] patrickeddy commented on #37
I concur. Had this issue and fixed the same way.

[2018-02-19 15:43] RedEars commented on #14
Do you plan to integrate sources like sepa payment?

[2018-02-19 22:30] ihadeed commented on #14
@RedEars  No, that's not supported by the mobile SDK.

[2018-02-19 22:52] RedEars commented on #14
@ihadeed Hmm...I can see the sources and the SEPA source type in the stripe docs: https://stripe.github.io/stripe-ios/docs/Enums/STPSourceType.html#/c:@E@STPSourceType@STPSourceTypeSEPADebit

[2018-02-20 03:31] ihadeed commented on #14
@RedEars
I was looking at their main docs, didn't see anything there. Thanks for sharing that link. I just checked both of their iOS + Android SDKs and it looks like they do expose methods to create sources.

[2018-02-21 13:34] Prasoon1983 commented on #38
Is there any workaround to enable stripe 3D secure payment in cordova app. I need to get this asap. Thanks in advance... :)

[2018-03-13 15:36] ferrGruppoBs opened #46 "Error EINVAL: invalid argument, symlink on release on ios"
Hi, I have successfully used the plug in with Android but when I try to create a release on ios I get this error message:

1> Executing script found in plugin plugin-plugin-vs-taco-support for hook "before_compile": plugins / cordova-plugin-vs-taco-support / hooks / hook-symlink-fix.js
1> Resolving module name for q => q
1> Resolving module name for glob => glob
1> Reparing symlink /Users/user/.ta

[2018-03-13 20:44] Cagdas88 commented on #38
Hi @ihadeed did you changed the old sdk with the new sdk  ?

[2018-03-19 13:14] vipmonkey commented on #38
+1

[2018-03-20 16:21] GrosJob commented on #17
Hello,

I'm experiencing exactly the same problem, as the name is linked with the card on Android, but with iOS the cards appears without any name on Stripe back-office.
As banks refuse a lot of cards when no name is given with it, I would need to be able to correct this and guess other persons might face the same problem.

Thank you!

[2018-03-26 13:31] whitecat opened #47 "Validation crashing on iOS"
The following three methods are crashing out when run on iOS. I do not get an error. Calling these functions cause iOS to crash.
validateCardNumber
validateCVC
validateExpiryDate

Here is my ionic info:
[code]

I call the methods like this:
[code]

[2018-04-07 11:07] srijanDubey commented on #29
Hi did you find any solution for this. I am facing same issue in my application.

[2018-04-09 06:41] vipmonkey commented on #38
Can we help in some way?

[2018-04-16 09:46] ihadeed commented on #38
@vipmonkey you can help by testing it as I don't use 3DS or the other sources that Stripe supports.

This is currently implemented for iOS in the v2 branch, still working on Android.

[2018-04-16 09:48] vipmonkey commented on #38
Ok, will implement it on a beta build and test it

[2018-05-22 18:59] geo242 opened #48 "ionic-native parameter name mismatch"
Ionic native typescript defs have the postal code param as "postal_code" but the native code looks for "postalCode". This is just an FYI that I created a PR to fix it in ionic native.

https://github.com/ionic-team/ionic-native/pull/2520

I would suggest that the casing of the parameters be made consistent throughout though. It's kinda weird to have some properties snake case and some camel case.

[2018-07-25 16:11] danielsogl commented on #48
Closed with: https://github.com/ionic-team/ionic-native/pull/2520

[2018-07-26 03:41] #48 closed

[2018-08-04 19:43] arashcy opened #49 "Stripe Interface"
Is there any way to display an interface that comes from Stripe to enter credit information?

[2018-08-12 15:20] glen-wooldridge opened #50 "What is the PCI compliance level for this method of collecting card info?"
Hi,
I'm just about to start developing payment subsystems in my Ionic 3 app and due to stripe.js refusing (for obvious reasons) to work for production workloads that are not protected by https, that kinda vetoes me using this easy route :(

Using stripe.js with its elements features would have given me a pre-filled SAQ A level of compliance... of course this cordova plugin requires me to build my

[2018-08-13 19:43] ihadeed commented on #50
You can maintain PCI compliance as long as you don't manipulate, log, or store the collected data.

Any credit card or bank account information is transmitted directly to the native Android/iOS SDKs and then securely uploaded to Stripe's servers.

More information can be found here: https://stripe.com/docs/security

Since this plugin currently doesn't offer a UI to input that data, you just need t

[2018-08-13 19:48] ihadeed commented on #49
Not at the moment.

Once v2 is out & stable I'll begin working on the UI elements.

[2018-08-13 19:50] ihadeed commented on #14
No estimate at this time.
It works right now (you can try the v2 branch https://github.com/zyra/cordova-plugin-stripe/tree/v2) .. just needs few more things on the Android side. See the list above.

[2018-08-14 12:53] licalac opened #51 "CreateSource not available"
Hi all,

First thanks for your great work ;-)

For a new ionic v3 project I have to use Stripe Connect account and in this case I have to use the createSource() Stripe.js function instead of createCard().

Could it be possible to map this function also in the plugin ?

Regards
Lionel

[2018-08-14 15:41] ihadeed commented on #51
It's being implemented in V2 of this plugin. See https://github.com/zyra/cordova-plugin-stripe/issues/14

It works in iOS at the moment, not implemented for Android yet.

[2018-08-16 09:02] webgump opened #52 "Ionic Stripe plugin installation"
Hi,

I am trying to install the ionic stripe plugin on our application.
I followed the steps from the documentation https://ionicframework.com/docs/native/stripe/
I always get the error "plugin_not_installed"
Have you any ideas why ?

Thanks,
X.Quièvre

[2018-08-19 13:54] webgump commented on #52
It does not work in ngAfterViewInit method, but it works when calling createCardToken method in another method triggered by a button

[2018-08-19 13:54] #52 closed

[2018-08-22 19:36] glen-wooldridge commented on #50
Cool thanks for the feedback 👍

For now I'm rolling my own UI, but when I get a spare moment I will more than likely take a look at froking this repo and pulling in the Stripe UI - but that is likely a good month or so away at this point!

I'd be more than happy to raise a pull request when the time comes 👍

[2018-08-22 19:36] #50 closed

[2018-09-07 02:36] patrickchoi commented on #52
Suggest that this be put in the readme. In the Ionic page it seems to suggest you should put the sample code in the constructor, which will always return the plugin not installed error. Took me an hour to figure this out, moving to its own function worked fine.

[2018-12-03 08:10] ebgtestdotnet opened #53 "IOS build error ->EINVAL: invalid argument, symlink"
EINVAL: invalid argument, symlink -> 'Plugins/cordova-plugin-stripe/Stripe.framework/Stripe.bundle/_CodeSignature/CodeSignature'

[2018-12-25 23:01] brittonk commented on #25
I'm having this same issue but not using ionic. I've tried removing plugins and adding them but cannot find the conflicting plugin.

[2018-12-26 02:16] brittonk commented on #25
Googling and trial and error led me to change the following in the build.gradle for Android.

I commented out the lines and hardcoded the versions to use. It seems anything 23 or below... which I guess is what Visual Studio is filling... breaks this plugin. Opening Android SDK Manager I found an installed version of Build Tools greater than that and used it. The error went away and the project now

[2019-01-08 05:20] testersoftware opened #54 "Stripe with Google pay"
I checked  plugin code and notice that only you provide card payment and also check in stripe it's provide google pay and apple pay
my Question is that :- How can I integrate Google pay and Apple pay using  this plugin in ionic4?
please guide me

[2019-01-09 05:53] ihadeed commented on #54
The master branch currently uses an older version of Stripe SDK. You need to download the plugin from the v4 branch:
[code]

As for Ionic usage; Ionic Native currently doesn't have an updated wrapper for this v4 branch. We will take care of that as soon as it's finalised. For now you can do something like this:
[code]

Please note that the v4 branch is still in beta, we may release breaking change

[2019-01-11 18:59] giladrom commented on #54
How does the Apple Pay support actually work? I looked in the code but couldn't find a JS function that initializes it?

[2019-01-12 16:52] ihadeed commented on #54
@giladrom see this https://github.com/zyra/cordova-plugin-stripe/blob/v2/www/CordovaStripe.js#L107

The options are here: https://github.com/zyra/cordova-plugin-stripe/blob/v2/www/CordovaStripe.d.ts#L95

[2019-02-07 07:45] darshansarvaiyasa opened #55 "not issue but question is: Stripe in createTokenWithPayment not found"
createTokenWithPayment this function can't find in plugin,
i need help for apple pay token to convert STPToken for stripe

[2019-02-07 16:36] loomtronic commented on #54
Is there any update on this?  What about Google Pay?  Why does there not seem to be anything on Google Pay and Ionic?  Thanks!

[2019-02-07 17:14] giladrom commented on #54
@loomtronic I ended up using this: https://github.com/monoku/cordova-plugin-applepay-stripe

And I can only assume there's no Google Pay because no one actually uses it.

[2019-02-07 19:54] ihadeed commented on #54
@loomtronic Google Pay is also functional in the beta branch

[2019-02-07 19:57] ihadeed commented on #55
are you using the beta branch?

[2019-02-07 20:55] loomtronic commented on #54
It's hard for me to believe that Google Pay isn't being used by anyone.  If you want to have payments and you're building a hybrid app, it just seems logical you'd want to use both.  I could be wrong, it's happened before... once ;)

[2019-02-07 21:02] giladrom commented on #54
You're absolutely right - I'm just speaking from a personal perspective, I've been using Apple Pay since the get go and have made a point of checking how people pay for their groceries whenever I go - I've never actually seen anyone use an Android phone for contactless payment. But that's obviously anecdotal.

[2019-02-08 05:10] darshansarvaiyasa commented on #55
I don't know but i m using this command 'ionic cordova plugin add cordova-plugin-stripe'

[2019-02-08 10:59] #55 closed

[2019-02-08 16:55] RedEars commented on #54
The example above does not work for me. When I run it on iOS I don't get any error but this message in the Xcode console output: "Problem with integration".

Full Output:
2019-02-08 17:48:25.760471+0100 AppName[2451:435493] {"country":"DE","currency":"EUR","items":[{"amount":14,"label":"Rechnungsbetrag (inkl. MwSt.)"},{"amount":2,"label":"Trinkgeld für den Service"}],"merchantId":"my.merchant.Id"}

[2019-02-08 17:36] RedEars opened #56 "App unresponsive after dismissing Apple Pay overlay"
So Apple Pay from v2 branch is working now. But I have two issues:
- When tapping on "Cancel" nothing happens. The Apple Pay overlay stays on top of the screen.
- When tapping on the upper half (outside of the overlay), it dismisses but the app remains unresponsive - I can neither scroll nor tap anything. I need to restart the app in order to work.

There is no error.

[2019-02-08 22:30] RedEars commented on #54
@ihadeed Google Pay doesn't actually work in the current beta branch because the "payWithGooglePay" method does not exist in CordovaStripe.java. As a workaround I changed the cordova.exec call to "createGooglePayToken" which exists in the java file. It was also needed to change data.getString(2) to data.getString(1) in the "createGooglePayToken" switch case of the execute function at CordovaStripe

[2019-02-19 01:54] Zerokk opened #57 ""TypeError: Object(...) is not a function" when importing to module"
After installing Stripe and the Cordova plugin, and setting up Stripe as a provider in any module, the app won't load and will output the message:

It doesn't matter if I put is as a provider to the main module, or the components module for lazyloading components, or wherever. It just will output this error and nothing more. Something's definitely not fine here.

Some data about my setup:

Node v1

[2019-02-19 02:30] ihadeed commented on #57
The details you shared aren't enough to know where the issue is coming from.

But looking at your `package.json` I do see that you installed `@ionic-native/stripe@4.20.0` while the rest of your Ionic Native packages are using `^5.0.0`. You need everything to be `^5.0.0` as v5 isn't reverse compatible that way.

[2019-02-19 18:40] Zerokk commented on #57
But, does stripe have a version 5? I need the v5 ionic native packages if I want some of the stuff of the app to work, and I still can't be able to use this native library no matter what I do. Mind that the app breaks only when I setup it as a provider for any, literally any given module. That's not normal, especially when the error thrown makes so little sense.

[2019-02-19 19:11] noctivityinc commented on #57
I have the exact same issue and I am running 5.1.0 of stripe. When I do an npm install it tells me I need to install rxjs^6.3, but other plugins require 5.X of rxjs - not sure if that makes a difference.

I also wrapped the call in a platform.ready block but that didnt make a difference.

I'd use stripe.js directly with elements but ionic appears to block stripe.js on iOS for production

[2019-02-21 14:22] IsaacHub commented on #54
I have done as you said, but I'm getting `Invalid action` returned from the error callback of the following code:
[code]

Getting the same error even without modifying those files. I'm using it with Ionic V3. The following is my `build.gradle`

[code]

I have tried several combinations(_but always using the same version as seen in build.gradle_), but getting the same `Invalid action` error. I see

[2019-02-21 15:23] RedEars commented on #54
@IsaacHub I got the same error in the beginning and changed the action name (as stated above) in order to work. But the plugin won't work anyways for google. The google pay window opens but there is no return at all. I moved to a different Cordova plugin (https://github.com/kartikk/cordova-plugin-dynamic-googlepay-stripe and https://github.com/osikes/cordova-plugin-dynamic-applepay-stripe) because

[2019-02-21 23:39] levarberry commented on #57
Downgrade everything in @ionic-native to  4.20.0   v5 is a pre-release .. so it will be unstable.

[2019-02-22 05:51] IsaacHub commented on #54
Yes. I have changed that line and error remains though. I will checkout those links you provided..

[2019-02-23 19:23] IsaacHub commented on #54
The other plugin is not working. I have created a [new issue](https://github.com/kartikk/cordova-plugin-dynamic-googlepay-stripe/issues/2)

[2019-02-23 21:30] IsaacHub commented on #54
@RedEars The [plugin](https://github.com/kartikk/cordova-plugin-dynamic-googlepay-stripe) you referred is triggering the Gpay window and once Gpay opens up, it's asking for card number, expiry and CVC.

My question is why Gpay is asking to add card information while bank account is already linked? Is this the supposed workflow? Is "stripe using Gpay" only work with card?  and not by bank account?

[2019-02-23 21:50] RedEars commented on #54
@IsaacHub Stripe only supports credit and debit cards as payment source from google pay as stated here: https://stripe.com/docs/google-pay

[2019-02-27 22:01] adamduren opened #58 "Minor Version Bump for postalCode -> address_zip"
Can we get a patch or minor version bump to correctly transform the postalCode -> address_zip for the browser platform? It's been committed for over a year but we haven't seen a release including the fix yet.

[2019-03-01 13:00] brainssolutions opened #59 "validateExpiryDate - Always Valid"
***

[2019-03-01 13:06] #59 closed

[2019-03-09 00:08] sengoontoh opened #60 "com.google.android.gms.internal.zzbck not found"
I'm getting the following error when building for android. I fixed it by revving up com.google.android.gms:play-services-wallet:16.0.0 in plugin.xml.

@ihadeed Is this the right thing to do?

platforms/android/app/src/main/java/com/zyramedia/cordova/stripe/CordovaStripe.java:128: error: cannot access zzbck

                    PaymentData paymentData = PaymentData.getFromIntent(intent);

[2019-05-15 07:22] ParasShahh commented on #14
@ihadeed  Is alipay working at the V2 ?

[2019-05-20 00:13] ihadeed commented on #14
@ParasShahh Yes
https://github.com/zyra/cordova-plugin-stripe/blob/v2/www/CordovaStripe.ts#L373

[2019-05-28 15:43] trademark2k6 commented on #14
Is there any plans to update the plugin so the new SCA / 3D Secure 2 feature works?

[2019-06-09 16:26] Sireini opened #61 "Missing some documentation about iDEAL payments"
I want to implement iDEAL payments in my Ionic/ Cordova application. I am wondering how I do the iDEAL implementation.

Is the createBankAccountToken for iDEAL payments?

Hope you could clearify this for me :)

[2019-06-10 20:41] adamduren commented on #58
@ihadeed @eduardoRoth It appears this is no longer maintained. I would be happy to help maintain this as I can if you're looking for maintainers.

[2019-06-12 05:24] Peter1234444 commented on #47
I'm getting the same issue. Version 1.5.3

I made sure to to make each validation function a knock on and instead used "Await", so I could log any errors between each method. What happens is that it successfully goes through the card number and expiry validation methods, but fails at the CVV validation method.

The highlighted code in Xcode is STPCardValidationState state = [STPCardValidator valid

[2019-07-04 07:02] Prakashharsa opened #62 "Can you please add this API method also "paymentMethods" stripe releases early this year ."
Hi ,

       We have implementing Applepay in one of our project we have created "PaymentData" using this Plugin - [.](https://www.npmjs.com/package/cordova-plugin-applepay)
 Now I want to process this token using Stripe payment gateway.
when I rise a question related to this into stripe they Said "you can use  this method 'PaymentMethods'  - Payment Methods was introduced early this year ". When

[2019-07-11 12:49] iphubpush commented on #54
Hey, I am also using the same plugin to integrate stripe apple pay in our app:
https://github.com/osikes/cordova-plugin-dynamic-applepay-stripe

In this plugin after payment we are only getting 'paymentData' and 'transactionIdentifier', but we need stripeToken to charge the user. Are you able to get the token? Please help.

[2019-07-19 08:02] mtshare commented on #14
@trademark2k6 I'm waiting too... Any plans to support SCA/3D Secure 2? @ihadeed

[2019-08-13 11:02] sebastian-zarzycki-es opened #63 "The state of the plugin"
I would like to inquire about the status of Stripe plugin for Cordova, that you’re apparently the author of or support it in one way or the other (through Ionic Native wrapper).

From what I can see it supports only a small portion of Stripe API (no payment methods, no recurring payments, etc.) and it also doesn’t (?) support Strong Customer Authentication.

Do you have any plans in near future to

[2019-08-13 21:47] ihadeed commented on #63
Hi @sebastian-zarzycki-es

The current stable version covers basic use cases such as tokenizing payment methods and validating payment method information.

The beta version in the v2 branch includes an updated mobile SDK _(needs another update)_ and it aims to provide access to all the functionality that the Stripe Android and iOS SDKs offer. **The beta version is currently under active developmen

[2019-08-14 09:54] sebastian-zarzycki-es commented on #63
Thanks for the update, but I have follow up notes:
- you say beta version is in active development, yet the last commit to that branch happened 7 months ago. Are you saying that you work on (and test) a much newer code, that just didn't find its place in repo?
- I'm well aware about the distinction between clientside and serverside Stripe. Payment Methods is actually a client side functionality, a

[2019-08-17 00:14] ihadeed commented on #63
- Yes, we're just testing it alongside an application that's in development. I'll push them to the repo once I verify the whole e2e flow works well.
- I'll look into Payment Methods to see if there is something that we're missing.
- I didn't look too deep into SCA since in our internal applications we don't process any payments in the EU. It seems that as long as 3DS is implemented it would meet t

[2019-08-22 13:45] phiferd commented on #63
@ihadeed  Also looking forward to this update. If you have changes that get closer to getting Google pay working or resolve any other issues, it would be great if you would push them to the v2 branch (see https://github.com/zyra/cordova-plugin-stripe/issues/54#issuecomment-461969211 for the bug).

I get that you are still testing, but maybe others (like me) could send a PR to fix any remaining iss

[2019-09-05 08:48] javiertrillo opened #64 "Migrating to Payment Intents"
Hello,

I would like to know is you are going to include the Stripe migration to payment intents in this plugin.
I am using this plugin in some projects and I have to update my project to new Stripe Payment flow.

I have to decide if still using this plugin or use the javascript native library.

[2019-09-05 09:03] ihadeed commented on #64
Hi @javiertrillo

Yes we will include Payment Intents, however there's no guarantee on when it will be ready and published.

If you need something to use today, I suggest you go with the JavaScript library.

The only benefit this library gives you is the ability to use features like Google Pay and Apple Pay.

Other features that aren't required by the Payment Intent flow will most likely be droppe

[2019-09-05 09:28] javiertrillo commented on #64
Hello @ihadeed ,

Thanks four your reply. I have to do the migration to payment intents before the 14th of September, is the Stripe limit day.

So I think im going to use the Javascript library for a fast integration.

[2019-09-11 10:22] sagar6899 commented on #64
Hello @javiertrillo ,
I am also facing the same issue, I am not able to find any ionic-stripe plugin update yet for SCA.
So can you please share your javascript code how to deal with this.

[2019-09-12 06:50] javiertrillo commented on #64
Hello @sagar6899
Finally, I have used the stripe.js library.

I have follow this documentation: https://stripe.com/docs/payments/payment-intents/migration/automatic-confirmation#api-version, it's very clear.

And this doc about integrate stripe.js and ionic: https://baadiersydow.com/integrate-ionic-framework-stripe-single-recurring-payments/

[2019-09-17 04:34] dilanfdo commented on #64
Hello @javiertrillo i am also trying to implement this in my ionic 3 app. Can we do all the steps in the app itself without contacting or help of the server? Can you please share some code how to implement this. Thanks in advance.

[2019-09-17 08:23] ihadeed commented on #64
@dilanfdo

You can, but it's not secure. Some calls require your secret key, which shouldn't be published in the client-side app and should be handled with care even on the server-side.

If you don't have a server and want a minimal solution, deploy a serverless function on a FaaS provider (Firebase/Google Cloud functions, AWS Lambda...etc) that can handle any server-side functionality you need.

[2019-09-17 10:07] dilanfdo commented on #64
@ihadeed

Thanks for your reply. No, there is team who handles the server side(backend). So i can get the help from them to perform the server side tasks. To be more clear can you verify if the following steps are correct

- Register your intent to collect payment on the server side (server sends the intent secret)
- Collect payment details on the client side (call stripe.handleCardPayment with th

[2019-09-17 11:05] ihadeed commented on #64
@dilanfdo

You can tell which steps require secret key by looking at the API key they use in the example. If it starts with `sk_` that's the secret key.

The steps you have outlined seem correct.

The 3D secure modal is an additional verification to further ensure that the user is the card holder and they're authorized to make that purchase; which helps collect more proof of authorization and redu

[2019-09-17 11:23] dilanfdo commented on #64
@ihadeed

Thanks for the clarification. Looking forward to using the latest release of the plugin :)

[2019-10-28 19:09] ofyzero commented on #54
I added my code to my app and stripe works %100 , but after calling  cordova.plugins.stripe.payWithApplePay(opts, success, error); method app is frozen and i can not get any response. Do you have any idea ?
I am using ionic 5.4.2 , cordova 7.2.2.

[2019-10-29 12:53] SRV-Garg commented on #54
Hi, I am also facing the same problem. How can we get the stripe token
after the payment successful?

On Tue, Oct 29, 2019 at 12:39 AM ofyzero <notifications@github.com> wrote:

[2019-10-29 13:44] ofyzero commented on #54
I created a gist for how use apple pay at ionic and added a NodeJS server example .
Here it is : https://gist.github.com/ofyzero/43f4e7400982e9c427dbedd696de587e](url)

[2019-10-29 13:47] ofyzero commented on #54
This is the example of payWithApplePay and i added an example of NodeJS server for charge request . Here it is :
https://gist.github.com/ofyzero/43f4e7400982e9c427dbedd696de587e

[2019-10-30 04:47] vijaystudio45 commented on #54
@ofyzero Thank you i will check that.

[2019-10-31 16:15] ofyzero commented on #56
I have the same problem . Did you find any solution ?

[2019-11-08 17:18] drugoi7 commented on #60
I have exactly the same problem.

[2019-11-11 11:13] drugoi7 commented on #60
I solved with the following plugin and comand:

`cordova plugin add cordova-android-play-services-gradle-release --variable play-services-location=17.0.0`

[2019-11-18 06:26] AhmadAyyaz1993 opened #69 "SCA integration"
I just want to know that if we have support for SCA in this plugin or plans for implementing it near future?

[2019-11-18 10:39] ihadeed commented on #69
@AhmadAyyaz1993

Support for SCA is implemented in the [Capacitor](https://capacitor.ionicframework.com/) version: https://github.com/zyra/capacitor-stripe

[This PR](https://github.com/zyra/cordova-plugin-stripe/pull/68) is to merge that implementation into this repo to make it work for Cordova.

It works but requires the following plugins to be installed on Cordova:
- cordova-plugin-androidx
- c

[2019-11-19 04:39] AhmadAyyaz1993 commented on #69
Thanks  for the information.

[2019-11-19 04:39] #69 closed

[2020-01-06 14:37] CodeWithOz commented on #64
@javiertrillo did you have to worry about HTTPS when using Stripe.js for payment intents? Stripe's docs say that you can only use PaymentIntents over HTTPS.

Also, did you integrate Apple Pay and/or Google Pay with the PaymentIntents?

[2020-01-14 18:01] TravBradfield commented on #54
@ihadeed Hello! :)

Has this progressed any further? Is there an Ionic wrapper for the Google Pay implementation yet? Thanks very much.

[2020-01-25 01:07] sanctus671 commented on #54
Has anyone got Apple Pay actually working? Whenever I call the function cordova.plugins.stripe.payWithApplePay(opts, success, error); nothing happens. I don't even get any error. Any ideas?

@TravBradfield I modified the code to get Google Pay working. You can see this here: https://github.com/sanctus671/cordova-plugin-stripe/tree/v2. Just put
`declare const cordova: any; `
in the imports area in

[2020-01-26 20:39] TravBradfield commented on #54
Hello @sanctus671!

Yes I have got Apple Pay working...

`async payWithApplePay() {
    console.log('*** payWithApplePay()');

    // Create a Stripe client.
    var stripe = Stripe('pk_test_Stripe_Key');

    let items: any = [
      {
        label: 'Online Product',
        amount: 10
      }
    ];
    let shippingMethods: any = [
      {
        identifier: 'Available',
        label: 'Apple

[2020-01-26 20:54] TravBradfield commented on #54
@sanctus671 Please let me know if that is helpful to you? Thanks!

[2020-01-27 10:19] sanctus671 commented on #54
Thanks but this looks like it is not this plugin but rather the generic Apply Pay cordova plugin without Stripe. How are you able to process the request in Stripe on the backend without a Stripe token?

[2020-01-27 10:21] TravBradfield commented on #54
@sanctus671 Oh yes, you're right.

Apple Pay effectively generates a card, so you use your Stripe backend functions to create the stripe token. Apple Pay returns a 'card token' which you send to your backend when creating the string payment intent

[2020-01-27 10:52] sanctus671 commented on #54
@TravBradfield The token generated with that plugin is not Stripe compatible though. How are you able to generate a Stripe token from that? What Stripe API end point are you using on the backend?

[2020-02-04 17:14] TravBradfield commented on #54
@sanctus671 Have a look at

`let request = {
      tokenIntent: {
        email: "test@email.com"
        name: "Trav Test",
        token: atob(message.paymentData),
        type: "Apple-Pay",
        currency: "gbp",
      }
    }`

This request goes to your backend. the paymentData field is Stripe compatible. I'm using this in production at the moment taking payments happily. Perhaps if you sha

[2020-03-03 10:37] josebyte commented on #54
@sanctus671 Is your repo working for Apple pay? Can you give us an example?

[2020-03-03 10:48] sanctus671 commented on #54
@josebyte yes it is. Here is an example:

[code]

items are an array of items. In my case this is someones shopping cart. Ensure each item is set to 2 decimal places or else it will fail (that's the .toFixed(2) part)
this.completeOrder is a function you need to create that takes the stripe token and then sends it to the server to complete the charge

One other thing to note is that Apple Pay only

[2020-03-03 11:39] josebyte commented on #54
Thanks!! But I didn't make it work, I have the following crash error with this code after the setpublishablekey:

[code]

Callback ID is CordovaStripe1176650167
APP INACTIVE
[App.AppDelegate paymentAuthorizationViewController:didAuthorizePayment:completion:]: unrecognized selector sent to instance 0x6000016ffd00
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-

[2020-03-10 08:57] josebyte commented on #54
Is working on Google Pay but when I try to move from test environment to production I have this error:
"the merchant is not enabled for google pay"
I have to configure something more?

[2020-04-03 14:55] parvageshahariar commented on #38
@ihadeed  when we gonna get this plugin updated for 3ds?

[2020-04-05 00:52] sanctus671 commented on #54
@ josebyte  see here: https://developers.google.com/pay/api/android/guides/test-and-deploy/request-prod-access

[2020-04-05 00:54] sanctus671 commented on #54
Anyone else having issues with Apple Pay since iOS 13.3? It's suddenly stopped working since that update.

[2020-04-16 13:25] danroot commented on #64
Same question as @CodeWithOz - Stripe.js give a warning that HTTPS is required for production use.  Since the ionic app is running on ionic:// or http://localhost or capacitor:// , my understanding is that stripe.js cannot be used from a cordova or capacitor app in production use.  Can someone confirm or correct me on that?  I'm also looking at how to support 3d secure using cordova-plugin-stripe.

[2020-04-24 09:19] graemeenglish commented on #64
@danroot I ended up using stripe.js to target web and a custom implementation of this plugin to cover android and ios for the reason you mention (along with apple/google pay support which also wouldn't be possible for native using stripe.js I believe)

[2020-05-06 09:35] jackbayliss commented on #64
@danroot  Stripe.js didn't work for me, purely because due to SCA (EU thing) we needed to use Payment Intents which only works with HTTPS. I couldn't find a way around the HTTPS error so what I did was make a custom cordova plugin that uses the Stripe SDK itself this allows for 3D security and payment intents.

[2020-05-06 10:10] CodeWithOz commented on #64
@graemeenglish @jackbayliss could either of you please share the modified code you used? So the rest of us don’t have to reinvent the wheel 🙂.

[2020-05-06 10:36] jackbayliss commented on #64
@CodeWithOz  You can find my Android implementation here :
https://github.com/jackbayliss/cordova-plugin-stripe-intent

[2020-05-06 14:59] danroot commented on #64
For now we've settled on in-app-browser and a page on the website that uses Stripe.js.  We style the page so that it fits with the mobile app and handle payment success/cancel gracefully.  Could just as easily popup Checkout page.

I did contact Stripe support to be sure there weren't any other options.  They were very helpful, but mostly confirmed above.   We've moved to Capacitor, so may at some

[2020-05-06 16:06] jackbayliss commented on #64
@danroot Funnily enough I'm currently going down this route myself for the iOS version after spending too long trying. I agree it should be something stripe should handle- as they'll know what's best.

For those that come here and are having the same issues. I'd do what @danroot suggests and use the [In App Browser](https://ionicframework.com/docs/native/in-app-browser) in conjunction with a simil

[2020-05-06 16:10] danroot commented on #64
... or [Capacitor In App Browser](https://capacitor.ionicframework.com/docs/apis/browser) if you're using Capacitor.

[2020-05-11 00:59] enriqued93 commented on #64
I consider the @jackbayliss approach the most mantainable. I'm starting right now to work on that. :)

[2020-05-26 15:45] msd117 commented on #49
is it available now @ihadeed ? can't see an option in home page

[2020-05-27 18:39] Mapiac commented on #64
@enriqued93 did you get it going on iOS?

[2020-05-29 11:45] owengna opened #70 "Cordova not available"
I am using ionic 4 and i followed the documentation but I got the following errors.

Native: tried calling Stripe.setPublishableKey, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator

[2020-06-15 05:41] iamenrique commented on #64
Hi @Mapiac it's me (the same, one and only @enriqued93). First of all, sorry for the super late response, I've been on a rush since then.

Indeed, I could make it work in iOS (Ionic 5 + Capacitor + Stripe). Basically, the approach is to use Stripe's iOS SDK to create/select the payment method, create the PaymentIntent server-side and come back to trigger the payment from iOS.

First, choose a paym

[2020-06-21 10:53] vicmarcal commented on #63
Which is the status of the "beta" version and hence the "state" of the plugin?

[2020-06-24 20:32] sboudouk commented on #70
Are you listening to deviceready event before using cordova object ? is cordova.js included in your html root ?

[2020-06-25 00:51] sboudouk commented on #63
Any news guys ? :)

[2020-07-08 08:18] tmwebs opened #71 "Send payment"
Hello, I am new in payments with APP cordova, I have installed your plugin, and it works fine, it validates me, it creates the token... but I do not see the way to send the payment to stripe and to evaluate the response, could you help me with some example?

I use cordova for Andoid and iOS

Thank you.

[2020-09-11 16:54] pookdeveloper commented on #54
What package I have to install to use stripe google pay ? Thanks

[2020-09-27 21:06] rgustavsson commented on #14
Is there any future for this project?

[2020-09-30 14:06] lyngbach commented on #63
It would be nice with another update. Just to hear if the development is ongoing or completely stopped. At this point it feels its come to a complete halt.

[2020-10-14 11:23] LucidSolutions commented on #38
any update?

[2020-11-11 17:49] darkguy2008 commented on #38
So no updates?

[2020-11-11 19:30] ihadeed commented on #38
Check the notice in the repo homepage/ readme.me

Sent from my iPhone

[2020-11-11 19:49] darkguy2008 commented on #38
Well, Capacitor is crap, Cordova is still way useful in the sense that we don't have to keep two repos with different codebases (plus installing Android Studio or XCode, etc) and besides, Cordova is still actively maintained, so it doesn't make sense at all.

Thanks for nothing though. I ended up making a webpage and calling it from an iframe...

[2020-12-01 23:42] colbytown commented on #54
@TravBradfield What are you calling on the stripe API side to complete this?

[2020-12-06 02:45] stefanotauriello commented on #64
Is it compatible with Play Store and Apple Store guidelines? If I use iframe instead of In App Browser?

[2020-12-13 23:21] jcernjak commented on #54
@ihadeed Is there any way to get Google Pay working with Ionic? I tried using the v2 branch and I'm getting `GooglePay not supported.` error. I would be very thankful for any information on this!

[2020-12-15 09:26] ihadeed commented on #54
It's WIP on Cordova, currently available on Capacitor.

[2021-01-26 09:04] khuntiharesh commented on #54
hello Everybody,

is any one have working code of payWithApplePay, I've tried above discussed things but not able to implemented.

Thanks!

[2021-03-23 04:58] edios-global opened #76 "Save card details"
Is there any option to save card details on user side?

[2021-04-13 10:44] kvengerov commented on #54
Hello @TravBradfield
I am doing data transfer from apple pay to stripe.
I saw your implementation, but it is not clear to me which method from the stripe library you are calling. Perhaps this is paymentIntents.create()?

[2021-04-17 08:41] Phoenix-Alpha commented on #54
@ihadeed, any progress with Apple Pay & Google Pay for cordova ? And does this plugin support Microsoft Pay?

[2021-09-22 13:08] ZumelzuR opened #77 "support for other versions of Stripe SDK"
Hello, there are any update related with the stripe-android sdk updates ?, the version today is 17.2.0 and current SDK of this plugin get the app be rejected by google play store due privacy policies :(

Somebody have any workaround for fix this?

[2021-10-28 18:27] Shivam-Pancholi commented on #77
Not sure if it will work but you can try updating the SDK version manually in the build,gradle file relative to that plugin and build the project.

[2021-11-04 16:01] ZumelzuR commented on #77
After all, for me be fixed putting in my app policies that Third parties SDK like Stripe take name , and credit card information but we dont store nothing on the DB. so explicity saying this on the policies make the app not was rejected anymore

[2022-01-18 21:06] iborschca commented on #71
@tmwebs have you found a way to send payment through the Cordova app?

[2022-05-17 21:20] lsantaniello opened #78 "How integrate 3dsecure flow using this plugin?"
Hi,
I need to integrate stripe payment infto my ionic 5 cordova app. I need to implement 3d secure flow. I tried to use stripe native plugin but 3d secure is not managed. Could you please help me?

Thanks

[2022-07-12 15:12] sandy1198 commented on #54
Same error coming if any update please let me know

my error
You're using your Stripe testmode key. Make sure to use your livemode key when submitting to the App Store!

Callback ID is CordovaStripe851949724
 THREAD WARNING: ['CordovaStripe'] took '17.274902' ms. Plugin should use a background thread.
 [General] Connection to remote alert view service failed

[2022-08-18 07:13] lesterjlester opened #79 "error when run in ios"
[capacitor]         ld: in /Users/unknown/Documents/projects/sample/ios/capacitor-cordova-ios-plugins/sources/CordovaPluginStripe/src/ios/Stripe.framework/Stripe(STPAPIClient.o), building for iOS Simulator, but linking in object file built for iOS, for architecture arm64
[capacitor]         clang: error: linker command failed with exit code 1 (use -v to see invocation)
[capacitor]
[capacitor]

[2022-10-27 01:32] Prakort commented on #76
@edios-global If you are saving user's card details in the server, that would violate PCI compliance https://stripe.com/en-ca/guides/pci-compliance.

You can retrieve the card detail from Stripe.  Here is one of the setups you can try:
- Register your user as stripe customer https://stripe.com/docs/api/customers/create?lang=php
- Create a payment method https://stripe.com/docs/api/payment_methods/

[2022-11-09 09:21] vidya-l commented on #70
Did it work?